table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table th{
    background-color: rgb(168, 176, 247);
    color: white;
    padding: 10px 10px;
}


tr td{
    padding: 10px 10px;
}

tr:nth-child(2n){
    background-color: rgb(203, 203, 237);
}